/* General Styles */

.body-container {
    background-color:rgb(54,50,55);
}

/* lazy background images cover */
div.lazy {
    background-repeat: no-repeat;
    background-size: cover;
}

h1, h2, h3, h4, h5, h6 {
    font-family: Oswald, sans-serif;
    color: #fff;
}

p {
    font-family: Raleway, sans-serif;
    color: #fff;
}

/* gradients */
.gradient-top-dark {
    width: 100%;
    height: 100%;
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0.60) 0, rgba(32, 31, 32, 0.4) 50%, rgba(54, 50, 55, 0.6) 100%);
}

.gradient-bottom-dark {
    width: 100%;
    height: 100%;
    background: linear-gradient(to top, rgba(0, 0, 0, 0.60) 0, rgba(32, 31, 32, 0.4) 50%, rgba(54, 50, 55, 0.6) 100%);
}

/* removes button outline on click */

button:focus {
    outline: 0 !important
}

/* End General Styles */

/* Navbar Styles */

#main-navbar {
    font-family: Oswald, sans-serif;
    text-transform: uppercase;
    color: rgba(255, 255, 255, 0.9);
}

#main-navbar .navbar.fixed-top  {
    transition: .5s all ease-in-out;
}

#main-navbar .navbar.fixed-top.scrolled {
    background-color:  rgba(45,66,98, 0.5);
}

#main-navbar .navbar-brand {
    border-color: transparent;
    color: rgba(255, 255, 255, 0.99);
    padding: 0.25rem 0.25rem;
    font-size: 2rem;
}

#main-navbar .navbar-toggler {
    border-color: transparent;
    padding: 0.25rem 0.25rem;
    color: rgba(255, 255, 255, 0.9);
}

#main-navbar .nav-link {
    margin: 0rem 0.5rem;
    padding: 0.75rem 1.25rem;
    border-bottom: 1px solid rgba(255, 255, 255, 0.1);
}

#main-navbar .nav-link:hover {
    background-color: rgba(255, 255, 255, 0.10);
    transition: .2s all ease-in-out;
}

#main-navbar .nav-item.nav-item-prime .nav-link {
    background-color: rgba(240, 80, 30, 0.9);
}

#main-navbar .nav-item.nav-item-prime .nav-link:hover {
    background-color: rgba(255, 148, 116, 0.9);
}

#main-navbar .nav-link {
    font-size: 1.2rem;
    color: rgba(255, 255, 255, 0.9);
}

/* Mobile View */

@media only screen and (max-width:992px) {
    #main-navbar .navbar-collapse-dark {
        margin-top: 0.5rem;
    }
    #main-navbar .nav-link {
        color: #fff;
        padding: 1rem 1.5rem;
        background-color: rgba(0, 0, 0, 0.7);
        border-top: 1px solid rgba(255, 255, 255, 0.1);
    }
}

/* End Navbar Styles */

/* Hero Styles */

.hero-container {
    font-family: Oswald, sans-serif;
    color: #fff;
    width: 100vw;
    height: 100vh;
    bottom: 0;
    position: absolute;
}

#home-carousel, #home-carousel .carousel-inner, #home-carousel .carousel-item {
    height: 100vh;
}

#home-carousel .carousel-control-prev, #home-carousel .carousel-control-next {
    top: auto;
    width: 2.5rem;
    height: 2.5rem;
    bottom: 3rem;
    border-radius: 100%;
    text-align: center;
    background-color:rgba(116,96,91,0.8);
}

#home-carousel .carousel-control-next {
    right: 2.5rem
}

#home-carousel .carousel-control-prev {
    left: 2.5rem
}

#home-carousel .carousel-control-prev-icon, #home-carousel .carousel-control-next-icon {
    width: 0.9rem;
    height: 0.9rem
}

#home-carousel .indicator-container {
    position: relative;
    bottom: 2.5rem;
    left: 0;
    right: 0;
    padding: 0
}

/* End Hero Styles */

/* Main Content Styles */

.main-container {
    font-family: Oswald, sans-serif;
    color: #fff;
    padding-bottom: 0.5rem;
    margin-bottom: 0.5rem;
}

.main-container .main-container-item {
    min-height: 20rem;
    background-color: rgba(0, 0, 0, 0.20);
    padding: 1rem 1.2rem;
    margin: 0.4rem 0.4rem;
}

/* End Main Content Styles */

/* Footer Styles */

.footer-container {
    font-family: Oswald, sans-serif;
    color: #fff;
    bottom: 0;
}

.footer-container .gradient {
    padding-top: 2rem;
    padding-bottom: 4rem;
}

.footer-container .social-icon {
    color: #fff;
    font-size: 2rem;
}

/* End Footer Styles */
